<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.bacademy.mapper.LectureMapper">

	<!-- 강의 등록 -->
	<insert id="addLecture" parameterType="com.goodee.bacademy.vo.LectureVO">
		INSERT INTO lecture(
			category_no,
			lecture_name,
			id,
			room_num,
			start_date,
			end_date,
			lecture_time,
			lecture_day,
			lecture_price
		) VALUES (
			#{categoryNo},
			#{lectureName},
			#{id},
			#{roomNum},
			#{startDate},
			#{endDate},
			#{lectureTime},
			#{lectureDay},
			#{lecturePrice}
		)
	</insert>
	
	<!-- 강의 목록 전체 개수 출력 -->
	<select id="getTotalRow" parameterType="com.goodee.bacademy.vo.PagingVO" resultType="int">
		SELECT
			count(*)
		FROM
			lecture
	</select>
	
	<!-- 강의 목록 조회 -->
	<select id="getLectureList" resultType="com.goodee.bacademy.vo.LectureVO" parameterType="com.goodee.bacademy.vo.PagingVO">
		SELECT
			*
		FROM (
				SELECT
				a.*,
				@ROWNUM:=@ROWNUM+1 AS rnum
			FROM (SELECT @ROWNUM:=0) R, (
					SELECT
						lecture_no lectureNo,
						lecture_name lectureName,
						id,
						room_num roomNum,
						start_date startDate,
						end_date endDate,
						lecture_time lectureTime,
						lecture_day lectureDay,
						lecture_price lecturePrice,
						update_date updateDate,
						create_date createDate
					FROM lecture
				) a
			) b
		WHERE rnum between ${firstRow} AND ${lastRow}
		
		<!-- 
		SELECT 
			lecture_no lectureNo,
			lecture_name lectureName,
			id,
			room_num roomNum,
			start_date startDate,
			end_date endDate,
			lecture_time lectureTime,
			lecture_day lectureDay,
			lecture_price lecturePrice,
			update_date updateDate,
			create_date createDate
		FROM lecture
		-->
	</select>
	
	<!-- 강의 상세 조회 -->
	<select id="getLectureOne" parameterType="int" resultType="com.goodee.bacademy.vo.LectureVO">
		SELECT 
			lecture_no lectureNo,
			(SELECT c.category FROM lecture l LEFT JOIN category c
			ON l.category_no = c.category_no
			WHERE l.lecture_no = ${lectureNo}) category,
			lecture_name lectureName,
			(SELECT DISTINCT t.name FROM lecture l LEFT JOIN teacher t 
			ON l.id = t.id 
			WHERE l.id = 
			(SELECT DISTINCT m.id FROM member m LEFT JOIN lecture l ON m.id = l.id WHERE l.lecture_no = ${lectureNo})) name,
			room_num roomNum,
			start_date startDate,
			end_date endDate,
			lecture_time lectureTime,
			lecture_day lectureDay,
			lecture_price lecturePrice
		FROM lecture
		WHERE lecture_no = ${lectureNo}
	</select>
	
	<!-- 강의 수정 -->
	<update id="modifyLecture" parameterType="com.goodee.bacademy.vo.LectureVO">
		UPDATE
			lecture
		SET
			category_no = ${categoryNo},
			lecture_name = #{lectureName},
			id = #{id},
			room_num = ${roomNum},
			start_date = #{startDate},
			end_date = #{endDate},
			lecture_time = #{lectureTime},
			lecture_day = #{lectureDay},
			lecture_price = ${lecturePrice},
			update_date = NOW()
		WHERE
			lecture_no = ${lectureNo}
	</update>
	
	<!-- 강의 삭제 -->
	<delete id="deleteLecture" parameterType="com.goodee.bacademy.vo.LectureVO">
		DELETE FROM
			lecture
		WHERE
			lecture_no = ${lectureNo}
	</delete>
	
</mapper>