<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.bacademy.mapper.MemberJoinMapper">

	<!-- 아이디 중복체크 -->
	<select id="checkId" parameterType="String" resultType="com.goodee.bacademy.vo.MemberVO">
		select *
		from member
		where id = #{id}	
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="java.util.Map" resultType="java.util.Map">
		select a.id, a.name, a.birth, a.gender, b.phone_num as phoneNum, a.email
		from student a
			join member b on a.id = b.id
		where a.name = #{name} and b.phone_num = #{phoneNum}	
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPw" parameterType="java.util.Map" resultType="java.util.Map">
		select a.id, a.name, a.birth, a.gender, b.phone_num as phoneNum, a.email
		from student a
			join member b on a.id = b.id
		where a.id = #{id} and a.name = #{name} and b.phone_num = #{phoneNum}		
	</select>
	
	<!-- 비밀번호 수정 -->
	<update id="modifyPw" parameterType="java.util.Map">
		update member
		set pw = #{pw}
		where id = #{id}
	</update>
	
	<!-- 멤버 등록 -->
	<insert id="memberJoin" parameterType="java.util.Map">
		insert into member(id, pw, phone_num)
		values(#{id}, #{pw}, #{phoneNum})
	</insert>
	
	<!-- 학생 등록 -->
	<insert id="studentJoin" parameterType="java.util.Map">
		insert into student(id, name, gender, birth, email)
		values(#{id}, #{name}, #{gender}, #{birth}, #{email})
	</insert>
	
	<!-- 정건희 : 강사 등록 -->
	<insert id="addMember" parameterType="java.util.Map">
		INSERT INTO member(id, pw, phone_num, grade, state)
		VALUES(#{id}, #{pw}, #{phoneNum}, #{grade}, #{state})
	</insert>
	
	<!-- 정건희 : 강사 등록 -->
	<insert id="addTeacher" parameterType="java.util.Map">
		INSERT INTO teacher(id, name, gender, birth, email, profile_img, update_date, create_date)
		VALUES(#{id}, #{name}, #{gender}, #{birth}, #{email}, #{profileImg}, now(), now())
	</insert>
	
	<!-- 정건희 : 강사 수정(재직 > 퇴직) -->
	<update id="updateMember" parameterType="String">
		UPDATE member SET state = '퇴직' WHERE id = #{id}
	</update>
	
	<delete id="deleteTeacher" parameterType="String">
		DELETE FROM teacher WHERE id = #{id}
	</delete>
	
</mapper>
