<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.bacademy.mapper.MemberInfoMapper">

	<select id="getMyLectureList"  parameterType="String" resultType="com.goodee.bacademy.vo.LectureVO">
		SELECT 
			lecture_no AS lectureNo
			, lecture_name AS lectureName
			, start_date AS startDate
			, end_date AS endDate
			, lecture_day AS lectureDay
			, lecture_price AS lecturePrice
			, CASE
			 WHEN NOW() &gt; end_date THEN '강의완료'
			 WHEN NOW() &lt; start_date THEN '강의대기'
			ELSE '강의중' END AS 'lectureStatus'
		FROM lecture
		WHERE id = #{id};
	</select>
	
	<select id="getCurrentLectureList"  parameterType="java.util.Map" resultType="com.goodee.bacademy.vo.LectureVO">
		WITH
		temp AS (
		SELECT
			a.id AS id
			, c.lecture_no AS lectureNo
			, c.lecture_name AS lectureName
			, c.start_date AS StartDate
			, c.end_date AS endDate
			, c.lecture_day AS lectureDay
			, c.lecture_price AS lecturePrice
			, CASE
				 WHEN NOW() &gt; c.end_date THEN '수강완료'
				 WHEN NOW() &lt; c.start_date THEN '수강대기'
				ELSE '수강중' END AS 'lectureStatus'  
		FROM student a
			JOIN application b ON a.id = b.id
			JOIN lecture c ON b.lecture_no = c.lecture_no
		)
		SELECT 
				id
				, lectureNo
				, lectureName
				, startDate
				, endDate
				, lectureDay
				, lecturePrice
				, lectureStatus
		FROM temp
		<where>
			<if test="id != null">AND id = #{id}</if>
			<if test="lectureStatus != null">AND lectureStatus = #{lectureStatus}</if>
		</where>
	</select>
	
	<select id="getEmpOne" parameterType ="String" resultType ="java.util.Map">
		SELECT b.id, b.name, b.email, b.profile_img AS profileImg, a.phone_num AS phoneNum
		FROM member a
			JOIN teacher b ON a.id = b.id
		WHERE b.id = #{id}
	</select> 
	
	

	<select id="getEmpList" parameterType="int" resultType="java.util.Map">
		SELECT
			CASE
				WHEN mem.grade = 2 THEN t.id
				WHEN mem.grade = 3 THEN m.id
				END AS id,
			grade,
			CASE
				WHEN mem.grade = 2 THEN t.name
				WHEN mem.grade = 3 THEN m.name
				END AS name,
			CASE
				WHEN mem.grade = 2 THEN t.email
				WHEN mem.grade = 3 THEN m.email
				END AS email,
			CASE
				WHEN mem.grade = 2 THEN t.profile_img
				WHEN mem.grade = 3 THEN m.profile_img
				END AS profileImg
		FROM member mem
			LEFT JOIN teacher t ON mem.id = t.id AND mem.grade = 2
			LEFT JOIN manager m ON mem.id = m.id AND mem.grade = 3
		WHERE mem.grade IN (2, 3)
	</select>

</mapper>

