<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.bacademy.mapper.StudentWishListMapper">
	
	<!-- 내가 찜한 강의 리스트 출력  -->
	<select id="getMyWishList" parameterType="com.goodee.bacademy.vo.WishListVO">
		SELECT  b.lecture_no AS lectureNo, 
				b.lecture_name AS lectureName, 
				b.lecture_price AS lecturePrice, 
				b.room_num AS roomNum,
				b.lecture_time AS lectureTime, 
				b.lecture_day AS lectureDay, 
				b.start_date AS startDate, 
				b.end_date AS endDate,
				c.name AS teacherName
		FROM wishlist a
			JOIN lecture b ON a.lecture_no = b.lecture_no
			JOIN teacher c ON b.id = c.id
		WHERE a.id = #{id}
		ORDER BY a.create_date;
	</select>
	
	<!-- 찜 추가 -->
	<insert id = "addWishList" parameterType="java.util.Map">
		INSERT INTO wishList (
			id , lecture_no, create_date
		) VALUE (
			${id}, #{lectureNo}, now()
		)		
	</insert>
	<!-- 위시리스트 삭제 -->
	<delete id ="wishListDelete" parameterType="java.util.Map">
		DELETE FROM wishlist
		WHERE id = #{id} AND lecture_no = #{lectureNo}
	 
	</delete>
	<!-- 수강 신청 -->
	<insert id ="addApplication"  parameterType="java.util.Map">
		INSERT INTO application(
			lecture_no, id, state, date
		) VALUE (
			#{lectureNo}, #{id}, '수강', now()
		)
	</insert>
</mapper>

